/* GLOBAL VARIABLES */
:root {
  --primary-colour: #04b36b;
  --secondary-colour: #006d86;
  --third-colour: #145144;
  --bg-colour-primary: #1a1a2e;
  --bg-colour-secondary: #303054;
  --header-text-colour: #f0edffcc;
  --text-secondary-colour: #787698;
  --text-third-colour: #74729374;
  --font-display: "VT323", monospace;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}
/* ----- */

body {
  background-color: var(--bg-colour-primary);
  font-family: var(--font-display);
}
/* ----- */

/* TEXTS GLOBAL */
h3 {
  color: var(--text-secondary-colour);
}

h1 {
  color: var(--header-text-colour);
}

/* TOP NAV BAR */
.topnav {
  background-color: var(--bg-colour-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px 0px;
  width: 100%;
  font-family: var(--font-mono);
  border-radius: 10.5px;
}

.topnav a {
  color: var(--secondary-colour);
  text-decoration: none;
  padding: 6px 10px;
}

.topnav a:hover {
  background-color: var(--text-third-colour);
  color: black;
  border-radius: 10.5px;
}

.topnav a.active {
  background-color: var(--text-secondary-colour);
  color: var(--header-text-colour);
  border-radius: 10.5px;
}
/* ----- */

/* HERO */
.hero {
  display: flex;
  align-items: center;
  font-size: x-large;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 5%;
}

.button-hero {
  text-decoration: none;
  background-color: var(--third-colour);
  color: black;
  padding: 10px 20px;
  border-radius: 10.5px;
  align-self: center;
}

.button-hero:hover {
  background-color: var(--primary-colour);
  color: black;
  border-radius: 10.5px;
}

.hero-text-h3{
    font-family: var(--font-mono);
    font-size: medium;
}
/* ----- */

/* ABOUT US */
.about-us-p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary-colour);
  padding: 0% 20%;
  font-size: xx-large;
}
/* ----- */

/* WIP PAGE */
.WIP-h1,
.WIP-h2 {
  text-align: center;
  margin: 0;
  padding: 0 20%;
  font-size: xx-large;
}

.wip-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.WIP-h1 {
  color: var(--primary-colour);
}

.WIP-h2 {
  color: var(--third-colour);
}
/* ----- */

/* MEDIA QUERIES */

/* Tablets */
@media (max-width: 1023px) {
  .logo {
    width: 100%;
    max-width: 500px;
  }
  .about-us-p {
    padding: 0% 10%;
  }
  .hero-text {
    padding: 0px;
  }
}

/* Phones */
@media (max-width: 768px) {
  .logo {
    width: 100%;
    max-width: 600px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    align-items: center;
    text-align: center;
    padding: 0% 10%;
  }
  .about-us-p {
    padding: 0% 5%;
  }
}
