:root {
  --primary-colour: #04b36b;
  --secondary-colour: #006d86;
  --third-colour: #145144;
  --bg-colour-primary: #1a1a2e;
  --bg-colour-secondary: #303054;
  --header-text-colour: #f0edffcc;
  --text-secondary-colour: #787698;
  --text-third-colour: #74729374;
  --font-display: "VT323", monospace;
  --font-mono: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  --font-sans: "Inter", system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
}

body {
  background-color: var(--bg-colour-primary);
  font-family: var(--font-display);
}

h1 {
  color: var(--header-text-colour);
}

h3 {
  color: var(--text-secondary-colour);
}

.about-us-p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-secondary-colour);
  padding: 0% 20%;
  font-size: xx-large;
}

.topnav {
  background-color: var(--bg-colour-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 10px 0px;
  width: 100%;
  font-family: var(--font-mono);
  border-radius: 10.5px;
}

.topnav a {
  color: var(--secondary-colour);
  text-decoration: none;
  padding: 6px 10px;
}

.topnav a:hover {
  background-color: var(--text-third-colour);
  color: black;
  border-radius: 10.5px;
}

.topnav a.active {
  background-color: var(--text-secondary-colour);
  color: var(--header-text-colour);
  border-radius: 10.5px;
}

.hero {
  display: flex;
  align-items: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Tablets */
@media (max-width: 1023px) {
  .logo {
    width: 100%;
    max-width: 500px;
  }
}
  .about-us-p {
    padding: 0% 10%;
  }

/* Phones */
@media (max-width: 768px) {
  .logo {
    width: 100%;
    max-width: 600px;
  }
  .hero {
    flex-direction: column;
    align-items: center;
  }

  .hero-text {
    align-items: center;
    text-align: center;
  }
  .about-us-p {
    padding: 0% 5%;
  }
}
